.task-table {
  flex: 1;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;

  .task-table-header {
    display: contents;

    [aria-sort="ascending"] {
      font-weight: bold;

      &::after {
        margin-left: 5px;
        content: '(asc)';
      }
    }

    [aria-sort="descending"] {
      font-weight: bold;

      &::after {
        margin-left: 5px;
        content: '(desc)';
      }
    }
  }

  .task {
    display: contents;

    > :first-child {
      grid-column: 1
    }
  }
}


.task-completed {
  .task-status {
    color: green;
  }
}